<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="/images/profilepic.jpg" alt="profile picture" class="img-fluid mb-3">
        </div>
        <div class="col-md-8">
            <h2>About Me</h2>
            <h5>Angie Natalia Sabogal Murillo</h3>
            <p>
                Hello! I'm Natalia. I'm a student at Centennial College, currently at 3rd semester. I was born and raised in Colombia, I arrived in Canada in 2019. I am passionate about movies, videogames, nutrition and fitness. 
            </p>
            <p>
                My goal is to provide robust defenses against potential cyber-attacks and ensure the safety of online data.
            </p>
            <p>
                I also offer Fitness Consultation services, focusing on providing practical guidance on nutrition and lifestyle choices.
            </p>
            <a href="/Natalia_Sabogal_Resume.pdf" target="_blank" class="btn btn-primary">View My Resume</a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
