<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="container mt-5">
    <h2>My Projects</h2>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/images/javascript.png" class="card-img-top" alt="Project 1">
                <div class="card-body">
                    <h5 class="card-title">Bottle Buster (JavaScript Game Development)</h5>
                    <p class="card-text">▪ Developed an interactive web-based game where users click on a floating bottle set against an engaging aquatic background.<br><br>
                        ▪ Utilized JavaScript to handle game mechanics, track player scores, and manage game states such as speed resets and score resets.<br><br>
                        </p>
                    <a href="http://studentweb.cencol.ca/asabogal/Angie%20Sabogal%20A4/index.html" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/images/html.png" class="card-img-top" alt="Project 1">
                <div class="card-body">
                    <h5 class="card-title">Vista Realtor Website Design (Web Development Project)</h5>
                    <p class="card-text">▪ Developed a comprehensive realtor website to showcase property listings, agent profiles, and customer feedback.<br><br>
                        ▪ Integrated responsive design elements to ensure optimal viewing and interaction experience across various devices.
                        </p>
                    <a href="http://studentweb.cencol.ca/asabogal/finalproject/project.html" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/images/webdev2.png" class="card-img-top" alt="Project 1">
                <div class="card-body">
                    <h5 class="card-title">Popularity Data Visualization for Programming Languages (Web Development Project)</h5>
                    <p class="card-text">▪ Incorporated functionalities that allow users to upload data through CSV files, ensuring flexibility in data sourcing and presentation.<br><br>
                        ▪ Utilized interactive bar charts for an immediate comparison, showcasing the growth or decline in the popularity of each programming language.<br><br>
                        ▪ Added a feature to generate word clouds from URLs, providing another dimension to data analysis and visualization on the platform.
                        </p>
                    <a href="http://studentweb.cencol.ca/asabogal/Assignment%203%20Js/Angie_A3.html" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include('partials/footer') %>
