<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="container mt-5">
    <h2>Services that I can offer.</h2>

    <div class="row">
        <!-- Service 1 -->
        <div class="col-md-4 mb-4">
            <img src="/images/webdev.jpg" alt="Web Development" class="img-fluid">
            <h4>Web Development</h4>
            <p>Creation and maintenance of websites. Front-end and back-end development.</p>
        </div>

        <div class="col-md-4 mb-4">
            <img src="/images/cybersec.png" alt="Cybersecurity" class="img-fluid">
            <h4>Cybersecurity</h4>
            <p>Protection against digital threats. Ensuring your digital possesions are well-protected.</p>
        </div>

        <div class="col-md-4 mb-4">
            <img src="/images/projmanagement.jpeg" alt="Web Development" class="img-fluid">
            <h4>Project Management</h4>
            <p>Creation and maintenance of websites. Front-end and back-end development.</p>
        </div>

        <div class="col-md-4 mb-4">
            <img src="/images/fitness.jpg" alt="Web Development" class="img-fluid">
            <h4>Fitness Consultation</h4>
            <p>Guidance on nutrition and lifestyle.</p>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
